body {
    font-family: 'Baumans', cursive;
    background-color: black;
}
h1 {
    background-color: rgb(3, 40, 250);
    color: azure;
    font-size: 70px;
    font-weight: lighter;
    text-align: center;
    
}
h2 {
    background-color: azure;
    color: chartreuse;
    font-size: 50px;
}
h3 {
    color: cornsilk;
    font-size: 40px;
    
}
h4 {
    color: rgb(216, 0, 43);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
    color: rgb(44, 250, 3);
    font-size: 30px;
}
h5 {
    color: rgb(3, 40, 250);
    background-color: azure;
    font-size: 70px;
}   
h6 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    background-color: rgb(163, 253, 247);
    padding: 20px;
    border-color: rgb(255, 255, 255);
    border-width: 20px;
    border-style: solid;
}

body 
{
    margin: 0;
    padding: 0;
}
.box:nth-child(1)
{
    text-align: center;
    top: -20px;
    left: 80px;
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
}

.container .box
{
    background: rgb(141, 141, 141);
    position: relative;
    width: calc(1200px - 30px);
    height: calc(300px - 30px);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.container .box .icon
{
    background: rgb(105, 105, 105);
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
}
.container .box:hover .icon
{
    top: 20px;
    Left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.container .box .icon .bi
{
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    transition: 0.5s;
    color: rgb(0, 0, 0);
}

.container .box:hover .icon .bi
{
    font-size: 50px;
}
.container .box .content
{
    position: relative;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}
.container .box:hover .content
{
    top: 100px;
    opacity: 1;
}
.container .box .content h3
{
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 30px;
}

.container .box .content p
{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
}

.container .box:nth-child(1) .icon
{
    background: rgb(255, 255, 255);
    border-color: #fff;
    box-sizing: content-box;
}

.container .box:nth-child(1) 
{
    background: rgb(0, 0, 0);
}
